---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: pangolinresources.tunnel.pangolin.io
spec:
  group: tunnel.pangolin.io
  names:
    kind: PangolinResource
    listKind: PangolinResourceList
    plural: pangolinresources
    singular: pangolinresource
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PangolinResource is the Schema for the pangolinresources API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PangolinResourceSpec defines the desired state of PangolinResource
            properties:
              foo:
                description: Foo is an example field of PangolinResource. Edit pangolinresource_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: PangolinResourceStatus defines the observed state of PangolinResource
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
